
h4 {
  color:#EB6440;
  font-family: "Lucida Console", Monospace;
}

h1 {
color: #EB6440;
font-family: "Lucida Console", Monospace;
border:
}

h5 {
  color: #EB6440;
  font-family: "Lucida Console", Monospace;
}

label {
color: #EB6440;
font-family: "Lucida Console", Monospace;
}

p {
  color: gray;
  font-family: "Courier New", Monospace;
}

table {
  color: gray;
  font-family: "Courier New", Monospace;
}

ul {
  color: gray;
  font-family: "Courier New", Monospace;
}

h6 {
  color: gray;
  font-family: "Courier New", Monospace;
}
